{% extends 'base.html.twig' %}

{% block title 'All items' %}

{% block body %}
  <div class="container mt-3">
    <h1>All items</h1>
    {% include 'partials/listItems.html.twig' %}
  </div>
{% endblock %}
